/*.parent {
    -fx-background-color: #F4F6F7;

}*/

.background{-fx-background-color: #FFF9EB ;}


/*.sidebar {
    -fx-background-color: #F4F6F7;
    -fx-border-color:#F4F6F7;
}*/

.button {
    -fx-background-color: #E7DCC4;
    -fx-text-fill: black;
    -fx-background-radius: 0;
}
.button:hover {
    -fx-background-color: #D3C9B3;
}


.jfx-button {
    -fx-background-color: #E7DCC4;
    -fx-text-fill: black;
    -fx-background-radius: 0;
    -fx-border-color:transparent transparent transparent transparent  ;
    -fx-border-width:0;
}
.jfx-button:hover {
    -fx-background-color: #D3C9B3;
}


.hbox{
    -fx-background-color: #4b5d68;
}


.jfx-text-field {
    -jfx-focus-color: #62929a;
    -jfx-unfocus-color: #D3C9B3;
    -jfx-background-color: transparent;
    -jfx-text-fill: white;
    /*-jfx-prompt-text-fill: white;*/
    -fx-prompt-text-fill: #A3A3A3;

    -fx-border-color:transparent transparent transparent transparent  ;

}
.jfx-text-field .input-line{
    -fx-pref-height: 2px;
}
.jfx-text-field .input-focused-line{
    -fx-pref-height: 3px;
}
.jfx-combo-box{
    -jfx-focus-color: #62929a;
    -jfx-unfocus-color: #D3C9B3;
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-prompt-text-fill: #b5c2c9;

}
.date-picker{
    -fx-background-color: transparent;
    -fx-text-fill: #62929a;
    -fx-prompt-text-fill: #62929a;
}





.table-view{
    -fx-background-color:  #FFE4A6  ;
    -fx-text-fill: black;
    -fx-border-color: transparent  ;
    -fx-background-radius: 0;
}
.table-view .table-column{
    -fx-text-fill: black;

    -fx-alignment:center;
}
.table-view .column-header{
    -fx-background-color: #FFE4A6  ;
    -fx-background-radius: 0;
    -fx-text-fill: #efecec;
}
.table-view .column-header-background{
    -fx-background-color:  #FFE4A6;
    -fx-background-radius: 0;
    -fx-text-fill: black;
}

.table-view .column-header-background .label {
    -fx-background-color:  #FFE4A6 ;
    -fx-text-fill: black;
    -fx-background-radius: 0;

}
.table-view .table-cell{

    -fx-text-fill: black;
    -fx-font-size: 15px;
    -fx-background-radius: 0;/*the font size you asked in the comments below*/
    /* -fx-text-fill:orange; */

}
/*Style for each < non odd> row of table view*/
.table-row-cell{
    -fx-background-color: #FFF8E8;
    -fx-text-fill: transparent;
    /*-fx-background-insets: 0.0, 0.0 0.0 1.0 0.0;*/
    /*-fx-padding: 0.0em;*/
}

/*Style for each <odd> row of table view*/
.table-row-cell:odd{
    -fx-background-color: #FFF1D1;
    -fx-text-fill: transparent;
    /*-fx-background-insets: 0.0, 0.0 0.0 1.0 0.0;
    -fx-padding: 0.0em;*/
}


/*Style of each entire row in the table view*/
  .table-row-cell:selected {
      -fx-background-color: #FFE4A6;
      -fx-border-color:transparent transparent transparent transparent  ;
      /*-fx-border-width:2.0;*/
      -fx-text-fill: transparent;
  }


/*Style of each entire row in the table view when is hovered*/
 .table-row-cell:hover {
      -fx-background-color:#FFE4A6;
      -fx-text-fill: #efecec;
  }

/*Style of each entire row in the table view when is getting focused*/
  .table-row-cell:focused {
      -fx-background-color:#FFE4A6;
  }
.split-pane{
    -fx-backgroud-insets : 0;
}
.split-pane *.split-pane-divider{
    -fx-opacity: 0;

}

